* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-section {
  width: 100%;
  height: 77vh;
  position: relative;
  background-image: url('./bgg.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  font-size: 35px;
  font-weight: 500;
  /* padding-right: 39%; */
  color: #fff;
  text-transform: capitalize;
}

.slogan {
  color: whitesmoke;
  padding: 8px 0 10px;
  font-size: 16px;
  text-transform: capitalize;
  word-spacing: 2px;
  position: relative;
  font-weight: 300;
}

.search-box {
  display: block;
  margin: 10px auto 20px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
  text-transform: capitalize;
}

.search-btn {
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  cursor: pointer;
  /* background: #0a1113; */
  background: black;
  color: #fff;
}

/* <-------- GALLERY ---------> */
.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 31.5%;
  margin: 11px;
}